.acheivements {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  background: green;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.social-links {
    cursor: pointer;
    justify-content: center;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    border-spacing: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-bottom: -630px;
    margin-left: -300px;
}


.facebook {
    height: 75px;
    width: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
    opacity: 0.5;
    border-color: rgb(255, 255, 255);
}

.facebook:hover {
    height: 90px;
    width: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 5px;
}

.instagram {
    height: 75px;
    width: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
}

.instagram:hover {
    height: 90px;
    width: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 5px;
}

.linkedin {
    height: 75px;
    width: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
}

.linkedin:hover {
    height: 90px;
    width: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 5px;
}
